  * {
      background-color: #0A1828;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      list-style: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  .login_body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }

  .toastify {
      position: absolute;
      top: -100px;
      left: 40%;
      padding: 24px;
      background: #ff0000;
      animation: open 5s ease;
      /* opacity: 0; */
  }


  .sucesso {
      background-color: rgba(28, 21, 166, 0.993);
  }

  .erro {
      background-color: red;

  }

  .toastify p {
      color: #fff;
      font: bold;
      ;
      background-color: transparent;
  }

  @keyframes open {
      0% {
          top: -100px;
      }

      50% {
          top: 0;
      }

      100% {
          top: -100px;
      }
  }

  form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 300px;
      align-items: center;
      padding: 30px;
      border: 1px solid #3500b1;
      align-items: center;
      background-color: #002349;



  }

  h2 {
      color: #957C3D;
      margin-bottom: 16px;
      background-color: #002349;
  }

  .input-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 4px;
      gap: 8px;
      background-color: #002349;
  }

  label {
      background-color: #002349;
      color: #fff;
  }

  input {
      background-color: #fff;
      border: 1px solid #957C3D;

  }

  form:hover {
      box-shadow: 0 0 24px #3500b1;
      transition: 0.4s;
  }

  #botom {
      display: flex;
      background-color: #3500b1;
      color: white;
      padding: 16px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      gap: 8px;


  }