* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #002349;
    color: aliceblue;

}

.header-content {
    display: flex;
    align-items: row;
    justify-content: center;
    padding: 20px;
}

.logo {
    width: 150px;
    left: 20px;
    position: absolute;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #000000;
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: column;
    padding: 32px;
    gap: 8px;
    margin-top: 100px;
}

.Botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.cardapio_item {
    border: 1px solid #fbf9f9;
    border-radius: 8px;

    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: bisque;
    justify-content: space-between;
    align-items: flex-start;
}

.cardapio_item h3 {
    width: 100%;
}

.cardapio_item span,
.cardapio_item button {
    min-width: max-content;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}