* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #002349;
    color: aliceblue;

}

.header-content {
    display: flex;
    align-items: row;
    justify-content: center;
    padding: 20px;
}

.logo {
    width: 150px;
    left: 20px;
    position: absolute;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #957C3D;
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: column;
    padding: 32px;
    gap: 8px;
    margin-top: 100px;
}

.Botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
}

.usuario {
    border: 1px solid #fbf9f9;
    border-radius: 8px;

    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    color: bisque;
    justify-content: space-between;
    align-items: center;
}

.usuario h3 {
    width: 100%;
}

.usuario span,
.usuario button {
    min-width: max-content;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    max-width: 90%;
}

.modal-conteudo {
    padding: 16px;
    border-radius: 1px;
    position: relative;
    display: flex;
    flex-direction: column;

    gap: 24px;
    max-width: 500px;
    min-width: 300px;
    justify-items: autoS;
    padding: 24px;
    position: relative;
}

.modal_conteudo_editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 500px;
    min-width: 300px;
    justify-items: autoS;
    padding: 24px;
    position: relative;
}

.modal_conteudo_editar .modal_fechar {
    position: absolute;
    right: 0;
    top: 0;


}

.modal-conteudo .modal_fechar {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
}

.modal-conteudo .modal_editar {
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    background-color: #af2dc9;
    color: white;
    border: none;
    border-radius: 4px;

}

.modal_conteudo_editar input {
    width: 100%;
    height: 45px;
    border: none;

    background: white;
    border-radius: 10px;
    color: #000;
    padding-left: 8px;
}

.modal_salvar {
    padding: 8px 16px;
    background-color: #af2dc9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remuve {
    border: none;
}

.modal_novousuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 500px;
    min-width: 300px;
    justify-items: autoS;
    padding: 24px;
    position: relative;
}

.modal_novousuario input {
    width: 100%;
    height: 45px;
    border: none;

    background: white;
    border-radius: 10px;
    color: #000;
    padding-left: 8px;
}

.modal_novousuario .modal_fechar {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
}