      * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          background-color: #002349;


      }

      .header-content {
          display: flex;
          align-items: row;
          justify-content: center;
          padding: 20px;
      }

      .logo {
          width: 150px;
          left: 20px;
          position: absolute;
      }

      .title {
          display: flex;
          justify-content: center;
          font-size: 40px;
          color: #957C3D;
          font-family: 'Arial', sans-serif;
          margin-left: 20px;
      }
         .navegacao_links {

    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #ffffff;
    cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
    width: 10%;

}
.navegacao_links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}
.btn_navegar {
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
        color: white;
    
}
.btn_fecharnavegar{
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 24px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    color: white;
}