      * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          background-color: #002349;


      }

      .header-content {
          display: flex;
          align-items: row;
          justify-content: center;
          padding: 20px;
      }

      .logo {
          width: 150px;
          left: 20px;
          position: absolute;
      }

      .title {
          display: flex;
          justify-content: center;
          font-size: 40px;
          color: #957C3D;
          font-family: 'Arial', sans-serif;
          margin-left: 20px;
      }

      .navegacao_links {

          display: flex;
          flex-direction: column;
          gap: 32px;
          color: #ffffff;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 50%;
          width: 10%;

      }

      .navegacao_links a {
          text-decoration: none;
          color: #957C3D;
          font-size: 16px;
      }

      .btn_navegar {
          position: absolute;
          left: 0;
          top: 50%;
          width: 40px;
          height: 40px;
          border: #957C3D 2px solid;
          border-radius: 50%;
          cursor: pointer;
          color: white;
      }

      .btn_navegar:hover {
          background-color: #957C3D;
          color: white;
      }

      .btn_fecharnavegar {
          position: absolute;
          right: 0;
          top: 0px;
          font-size: 24px;
          background: none;
          border: none;
          color: #ffffff;
          cursor: pointer;
          color: white;
      }

      main {
          display: flex;
          flex-direction: column;
          justify-content: column;
          padding: 32px;
          gap: 8px;
          margin-top: 100px;
      }

      .pedidos_container {

          padding: 16px;
          display: flex;
          flex-direction: column;
          gap: 32px;
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
          color: bisque;
          list-style: none;




      }

      .lista {
          padding: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          list-style: none;
          padding: 12px;
          border: #ffffff solid 1px;
          gap: 16px;


      }

      .lista ul {
          width: 100%;
      }

      .lista ul li {
          display: flex;
          justify-content: space-between;
      }

      .remuve {
          border: 0;
          border: none;
          cursor: pointer;
          color: #ffffff;
      }

      .vermais {
          border: 0;
          border: none;
          cursor: pointer;
          color: #ffffff;
      }