      * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          background-color: #002349;


      }

      .header-content {
          display: flex;
          align-items: row;
          justify-content: center;
          padding: 20px;
      }

      .logo {
          width: 150px;
          left: 20px;
          position: absolute;
      }

      .title {
          display: flex;
          justify-content: center;
          font-size: 40px;
          color: #957C3D;
          font-family: 'Arial', sans-serif;
          margin-left: 20px;
      }
      main {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 120vh;
          gap: 24px;
      }

      .Botoes{
        display: flex;
        align-items: center;
       justify-content: center;
       color: rgb(255, 255, 255);
       border-color: #957C3D;
         gap: 16px;
         padding: 24px;
      }
   .Botoes .btn_novaMesa{
       color: rgb(255, 255, 255);
       border-color: #957C3D;
       padding: 8px;
   }
   .contem ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
   
    gap: 16px;
    padding: 24px;

   }
      .navegacao_links {

    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #957C3D;
    cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
    width: 10%;

}
.navegacao_links a {
    text-decoration: none;
    color: #957C3D;
    font-size: 16px;
}
.btn_navegar {
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #957C3D;
    border: none;
    border-radius: 50%;
    cursor: pointer;
        color: white;
    
}
.btn_fecharnavegar{
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 24px;
    background: none;
    border: none;
    color: #957C3D;
    cursor: pointer;
    color: white;
}
ul .lista{
    display: flex;
    flex-direction: row;
    background-color: #002349;
    color: #957C3D;
    padding: 16px;
    width: 400px;
    justify-content: space-between;
    gap: 56px;
    border: solid 2px #fafafa;

}
ul .remove{
    cursor: pointer;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.btn_reservarMesa{
    color: rgb(255, 255, 255);
    border-color: #957C3D;
    padding: 8px;
}
   
/* .ModalNavegacao{
        position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    top: 0;
    background: transparent;
    z-index: 1;
} */
 .modal-conteudo-novamesa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: #002349;
    padding: 24px;
    border: solid 2px #ffffff;
    color: #957C3D;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
}
.modal_fechar{
        position: absolute;
    right: 16px;
    top: 8px;
    font-size: 24px;
    background: none;
    border: none;
    color: #f9f9f9;
    cursor: pointer;
}
#numero_mesa{
    padding: 8px;
    border-radius: 4px;
    border: #ffffff solid 1px;
    color: #ffffff;
}
.modal_criar_mesa{
    padding: 8px;
    border-radius: 4px;
    border: #e8e8e8 solid 1px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}
.modal{
    display: flex;
    position: fixed;
   
    border: solid 2px #ffffff;
    color: #ffffff;
}
.modal-conteudo-reserva{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 16px;
    background-color: #002349;
    padding: 24px;
    border: solid 2px #ffffff;
    color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.modal_fechar{
    position: absolute;
    right: 16px;
    top: 8px;
    font-size: 24px;
    background: none;
    border: none;
    color: #f9f9f9;
    cursor: pointer;
}
#nome_reserva{
    padding: 8px;
    border-radius: 4px;
    border: #ffffff solid 1px;
    color: #ffffff;
}
#slectmesa{
    padding: 8px;
    border-radius: 4px;
    border: #ffffff solid 1px;
    color: #ffffff;
}
#numero_telefone_reserva{
    padding: 8px;
    border-radius: 4px;
    border: #ffffff solid 1px;
    color: #ffffff;
}
.modal_reservar_mesa{
    padding: 8px;
    border-radius: 4px;
    border: #e8e8e8 solid 1px;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}
.modal_reservar_mesa:hover{
    background-color: #957C3D;
    border: #957C3D solid 1px;
}
