      * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          background-color: #002349;


      }

      .header-content {
          display: flex;
          align-items: row;
          justify-content: center;
          padding: 20px;
      }

      .logo {
          width: 150px;
          left: 20px;
          position: absolute;
      }

      .title {
          display: flex;
          justify-content: center;
          font-size: 40px;
          color: #957C3D;
          font-family: 'Arial', sans-serif;
          margin-left: 20px;
      }

      .Botoes{
        display: flex;
        align-items: center;
       justify-content: center;
       color: rgb(255, 255, 255);
       border-color: #957C3D;
      }
   .Botoes .btn_novaMesa{
       color: rgb(255, 255, 255);
       border-color: #957C3D;
       padding: 8px;
   }
   .contem ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
   
    gap: 8px;
    padding: 24px;

   }
   