      * {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          background-color: #002349;


      }

      .header-content {
          display: flex;
          align-items: row;
          justify-content: center;
          padding: 20px;
      }

      .logo {
          width: 150px;
          left: 20px;
          position: absolute;
      }

      .title {
          display: flex;
          justify-content: center;
          font-size: 40px;
          color: #957C3D;
          font-family: 'Arial', sans-serif;
          margin-left: 20px;
      }

      /* .contem {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 8px;
          padding: 24px;

          color: rgb(254, 254, 254);
      }

      .contem .ul {
          gap: 8px;
          padding: 24px;

          color: rgb(254, 254, 254);
      } */