   * {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
       background-color: #002349;


   }

   .header-content {
       display: flex;
       align-items: row;
       justify-content: center;
       padding: 20px;
   }

   .logo {
       width: 150px;
       left: 20px;
       position: absolute;
   }

   .title {
       display: flex;
       justify-content: center;
       font-size: 40px;
       color: #957C3D;
       font-family: 'Arial', sans-serif;
       margin-left: 20px;
   }

   main {
       background-color: #002349;
       display: flex;
       flex-direction: column;
       justify-content: column;
       padding: 32px;
       gap: 8px;
       margin-top: 100px;
   }

   .comanda_item {
       border: 2px solid #957c3b;
       border-radius: 8px;

       padding: 16px;
       display: flex;
       flex-direction: row;
       gap: 32px;
       width: 100%;
       max-width: 500px;
       margin: 0 auto;
       color: bisque;
       justify-content: space-between;
       align-items: flex-start;
   }

   .comanda_item h3 {
       width: 100%;
   }

   .comanda_item span,
   .comanda_item button {
       min-width: max-content;
       color: bisque;
   }

   .comanda_item button {

       border: none;
       border-radius: 8px;
       padding: 8px 16px;
       cursor: pointer;
       color: white;
       border: #957C3B 2px solid;
   }

   .comanda_item button:hover {
       background-color: #957C3B;
   }

   .ul {
       display: flex;
       flex-direction: column;
       gap: 8px;
   }

   .navegacao_links {

       display: flex;
       flex-direction: column;
       gap: 32px;
       color: #ffffff;
       cursor: pointer;
       position: absolute;
       left: 0;
       top: 50%;
       width: 10%;

   }

   .navegacao_links a {
       text-decoration: none;
       color: #957C3B;
       font-size: 16px;
   }

   .btn_navegar {
       position: absolute;
       left: 0;
       top: 50%;
       width: 40px;
       height: 40px;
       background-color: #002349;
       border: #957C3B 2px solid;
       border-radius: 50%;
       cursor: pointer;
       color: white;

   }

   .btn_navegar:hover {
       background-color: #ffffff;
       border: #957C3B 2px solid;
   }

   .btn_fecharnavegar {
       position: absolute;
       right: 0;
       top: 0px;
       font-size: 24px;
       background: none;
       border: none;
       color: #ffffff;
       cursor: pointer;
       color: white;
   }


   .ModalComanda {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.74);
       justify-content: center;
       align-items: center;
       z-index: 1000;
   }

   .itens_comanda {
       background-color: #002349;
       padding: 20px;
       border-radius: 8px;
       border: 2px solid #957C3B;
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
       max-width: 500px;
       width: 90%;
   }

   .detalhes_comanda {

       gap: 28px;
       padding: 24px;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       border-radius: 8px;
       border: 4px solid #957C3B;
       z-index: 1000;
       max-width: 90%;
       display: flex;
       flex-direction: column;
       align-items: center;
       flex-wrap: wrap;
   }


   .detalhes_comanda_fechar {
       position: absolute;
       right: 0;
       top: 0;
       border: none;
       cursor: pointer;
       background: none;
       font-size: 24px;
       color: aliceblue;
       padding: 8px;
   }

   .detalhes_comanda h2 {

       margin: 0;
       font-size: 36px;
       color: aliceblue;
   }



   .detalhes_comanda {
       display: flex;
       flex-direction: column;
       gap: 16px;

   }

   .detalhes_comanda p {
       margin: 0;
       font-size: 22px;
       color: aliceblue;
       padding: 5px;
   }

   .btn_novacomanda {
       padding: 6px 12px;
       border-radius: 8px;
       color: white;
       font-size: 24px;
       border: 2px solid #957C3B;
       cursor: pointer;
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
       margin-bottom: 12px;
   }

   .btn_novacomanda:hover {
       background-color: #957C3B;
   }

   div .botao {
       display: flex;
       flex-direction: column;
       align-items: center;
   }