* {
    box-sizing: border-box;
    box-shadow: none;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    background-color: #062e56;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #d1b06a;

}

header {
    background-color: #062e56;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header .header-content {
    display: flex;
    align-items: center;
    width: 38%;
}

header .title {
    text-align: center;
    width: 100%;

}

.logo {
    width: 80px;
    align-self: start;
}


.title {

    text-align: center;
    margin-right: 80px;
    font-size: 40px;
    color: #d1b06a;
    font-weight: bold;
}



main {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.container {
    width: 35%;
    background-color: rgb(19 57 95);
    box-shadow: #d1b06a 0px 0px 10px;
    padding: 24px;
    border-radius: 12px;

}



.inputs_cadastro {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: rgb(19 57 95);
}

.input_group {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #d1b06a;
    background-color: rgb(19 57 95);

}

label {
    margin-bottom: 8px;
    background-color: rgb(19 57 95);
}

input {
    padding: 10px;

    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #d1b06a;
    background-color: rgb(19 57 95);
    color: #fff;
}



.btn_salvarcomanda {
    margin-top: 20px;
    align-self: center;
    padding: 12px 40px;
    background-color: transparent;
    border: 2px solid #d1b06a;
    border-radius: 10px;
    color: #d1b06a;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_salvarcomanda:hover {
    background-color: #d1b06a;
    color: #083b66;
}

.btn_cancelar {
    margin-top: 20px;
    align-self: center;
    padding: 12px 40px;
    background-color: transparent;
    border: 2px solid #d1b06a;
    border-radius: 10px;
    color: #d1b06a;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn_cancelar:hover {
    background-color: #d1b06a;
    color: #083b66;
}

select {

    padding: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid #d1b06a;
    color: #fff;
    background-color: rgb(19 57 95);
}